<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome {{user.first_name}}!</title>
    </head>
    <body>
        <h1>Hello, {{user.first_name}}!</h1>
        <a href="/logout">Logout</a>
        <a href="comments/{{user.id}}">click here to view your comments</a>
        <h3>Other Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th># comments</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users %}
                <tr>
                    <td><a href="comments/{{i.id}}">{{i.first_name}}</a></td>
                    <td>{{i.comments.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>