<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{user.first_name}}'s page</title>
    </head>
    <body>
        <h1>Name: {{user.first_name}} {{user.last_name}}</h1>
        <h2>{{user.first_name}}'s comments</h2>
        <ul>
            {% for comment in user.comments.all %}
            <li>{{comment.content}} - <a href="/users/comments/{{comment.author.id}}">{{comment.author.first_name}}</a></li>
            {% endfor %}
        </ul>
        <form action="/users/comment" method="post">
            {% csrf_token %}
            <h3>Add comment:</h3>
            <input type="text" name="content" id="content" placeholder="Enter comment here">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="submit" value="Add Comment">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>